<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
	<h1>Some thing went wrong please contact admin</h1>
	<table class="table table-bodered">

		<tr>
			<td>Date</td>
			<td th:text="${timestamp}"/></td>
		</tr>

		<tr>
			<td>Status</td>
			<td  th:text="${status}"/></td>
		</tr>

		<tr>
			<td>Earror</td>
			<td  th:text="${error}"/></td>
		</tr>

		<tr>
			<td>Path</td>
			<td   th:text="${path}"/></td>
		</tr>

	

	</table>
	</div>
</body>
</html>